@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 100%;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Georgia";
  src: url("Georgia.eot");
  src: local("Georgia"), url("Georgia.eot?#iefix") format("embedded-opentype"), url("Georgia.woff2") format("woff2"), url("Georgia.woff") format("woff"), url("Georgia.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Georgia";
  src: url("Georgia-Bold.eot");
  src: local("Georgia Bold"), local("Georgia-Bold"), url("Georgia-Bold.eot?#iefix") format("embedded-opentype"), url("Georgia-Bold.woff2") format("woff2"), url("Georgia-Bold.woff") format("woff"), url("Georgia-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Lato Medium";
  src: url("../fonts/lato_medium.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/lato_medium.eot?#iefix") format("embedded-opentype"), url("../fonts/lato_medium.woff2") format("woff2"), url("../fonts/lato_medium.woff") format("woff"), url("../fonts/lato_medium.ttf") format("truetype"), url("../fonts/lato_medium.svg#lato_medium") format("svg"); /* Chrome < 4, Legacy iOS */
}
.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato Semibold";
  src: url("../fonts/lato-semibold.woff2") format("woff2"); /* Super Modern Browsers */
}
@font-face {
  font-family: "avenir";
  src: url("../fonts/Avenir-Black.woff2") format("woff2"); /* Super Modern Browsers */
}
.header__container {
  min-height: 85px;
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 71px;
}
.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__sign {
  margin-right: 35px;
  color: var(--text-color);
}
.header__sign:hover {
  -webkit-transition-duration: 600ms;
          transition-duration: 600ms;
  text-decoration: underline;
  color: var(--accent-color);
}
.header__button {
  padding: 13px 50px;
  text-transform: capitalize;
}

.menu__item {
  margin-right: 41px;
}
.menu__item a {
  padding: 15px;
  color: var(--text-color);
  -webkit-transition-duration: 600ms;
          transition-duration: 600ms;
}
.menu__item:hover a {
  -webkit-transition-duration: 600ms;
          transition-duration: 600ms;
  color: var(--accent-color);
}

.about {
  background-color: var(--bg-color);
  padding: 229px 0 177px;
  color: var(--white-color);
}
.about__container {
  max-width: 1506px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about__left {
  padding-top: 84px;
}
.about__title {
  margin-bottom: 40px;
}
.about__text {
  font-size: 25px;
  margin-bottom: 62px;
}
.about__button {
  padding: 20px 50px;
  border: var(--accent-color) 1px solid;
}
.about__button:hover {
  border: white 1px solid;
  -webkit-transition-duration: 600ms;
          transition-duration: 600ms;
}
.about__pic {
  border-radius: 18px;
}
.team {
  padding-top: 120px;
  margin-bottom: 240px;
}
.team__container {
  max-width: 1370px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.team__image {
  position: relative;
  padding-left: 60px;
}
.team__right {
  padding-left: 87px;
}
.team__rem {
  padding: 7px 0 18px;
  font-size: 25px;
  letter-spacing: -0.3px;
}
.team__title {
  color: var(--accent-color);
  margin-bottom: 22px;
}
.team__text {
  color: #484848;
  line-height: 28px;
  margin-bottom: 35px;
  letter-spacing: 0.1px;
}
.team__button {
  padding: 20px 50px;
}

.card {
  position: absolute;
  background-color: var(--white-color);
  width: 296px;
  height: 293px;
  color: #000;
  padding: 27px 0;
  text-align: center;
  top: 354px;
  left: 0px;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 18px 0 rgba(165, 165, 165, 0.25);
          box-shadow: 0 4px 18px 0 rgba(165, 165, 165, 0.25);
}
.card__title {
  font-weight: 600;
  font-size: 14px;
  font-size: 14px;
  margin-bottom: 8px;
}
.card__line {
  display: inline-block;
  width: 110px;
  height: 0.75px;
  background-color: #000;
  margin-bottom: 10px;
}
.card__image {
  margin-bottom: 10px;
}
.card__pic {
  width: 58px;
  height: 58px;
  border-radius: 50%;
}
.card__name {
  font-size: 12px;
  margin-bottom: 25px;
}
.card__subtitle {
  font-family: "Georgia";
  font-size: 16px;
  font-weight: bold;
  padding-left: 61px;
  text-align: left;
  margin-bottom: 16px;
}
.card__list {
  font-size: 10px;
  padding-left: 61px;
  text-align: left;
}
.card__item {
  margin-bottom: 16px;
}
.card__item:last-child {
  margin-bottom: 0px;
}

.footer {
  background-color: var(--bg-color);
}
.footer__container {
  max-width: 1370px;
  margin: 0 auto;
  padding: 104px 0 144px;
}
.footer__logo {
  font-family: "avenir";
  font-weight: bold;
  font-size: 40px;
  color: white;
  margin-bottom: 72px;
  display: inline-block;
}
.footer__logo:hover {
  color: rgb(181, 255, 196);
}
.footer__item {
  margin-bottom: 66px;
  font-weight: 600;
  font-size: 25px;
}
.footer__item a {
  color: white;
}
.footer__item:last-child {
  margin-bottom: 0px;
}

.aware {
  background: url(../img/BG.jpg) center no-repeat;
  min-height: 895px;
}
.aware__container {
  max-width: 1370px;
  margin: 0 auto;
}
.aware__title {
  font-family: "Georgia";
  padding-top: 175px;
  font-weight: 700;
  font-size: 65px;
  line-height: 75px;
  color: var(--accent-color);
  margin-bottom: 30px;
}
.aware__text {
  font-size: 20px;
  line-height: 29px;
  color: #484848;
  max-width: 430px;
  margin-bottom: 53px;
}
.aware__button {
  padding: 20px 50px;
}

.how {
  padding-top: 175px;
  margin-bottom: 27px;
}
.how__container {
  max-width: 1370px;
  margin: 0 auto;
}
.how__rem {
  font-size: 24px;
  margin-bottom: 6px;
}
.how__up-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.how__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.up-inner {
  margin-bottom: 91px;
}
.up-inner__title {
  color: var(--accent-color);
  padding-right: 110px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.up-inner__text {
  font-weight: 500;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding-left: 24px;
  padding-top: 28px;
  letter-spacing: 1px;
  line-height: 28px;
}

.hitem {
  max-width: 390px;
  margin-right: 95px;
}
.hitem__title {
  font-family: "Georgia";
  font-size: 150px;
  color: rgba(1, 153, 109, 0.2);
  position: relative;
  margin-bottom: 47px;
}
.hitem__subtitle {
  position: absolute;
  font-weight: 700;
  font-size: 30px;
  color: #000;
  top: 105px;
  left: 88px;
}
.hitem__text {
  font-weight: 500;
  line-height: 30px;
  color: #424242;
  letter-spacing: 0.2px;
  margin-bottom: 60px;
}

.hitem:last-child {
  padding-top: 54px;
  margin-right: 0px;
}

.hitem:nth-child(2) {
  padding-top: 287px;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

:root {
  --accent-color: #01996d;
  --text-color: #292929;
  --white-color: #fff;
  --bg-color: #245852;
}

.title {
  font-family: "Georgia";
  font-weight: 700;
  font-size: 50px;
  line-height: 157%;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: var(--accent-color);
  line-height: 125%;
  color: var(--white-color);
}

.button:hover {
  -webkit-transition-duration: 600ms;
          transition-duration: 600ms;
  background-color: var(--bg-color);
  color: var(--white-color);
}

.rem {
  font-weight: 600;
  color: #424242;
}