.aware {
	background: url(../img/BG.jpg) center no-repeat;
	min-height: 895px;

	&__title {
		font-family: "Georgia";
		padding-top: 175px;
		font-weight: 700;
		font-size: 65px;
		line-height: 75px;
		color: var(--accent-color);
		margin-bottom: 30px;
	}

	&__text {
		font-size: 20px;
		line-height: 29px;
		color: #484848;
		max-width: 430px;
		margin-bottom: 53px;
	}

	&__button {
		padding: 20px 50px;
	}
}
@media screen and (max-width:1200px){
	.aware {
		min-height: 600px;
		&__title {
			padding-top: 90px;
		}
	}
}

@media screen and (max-width:741px){
	.aware {
		background: url(../img/BG.jpg) left no-repeat;
		// background: url(../img/BG.jpg)  0 0/auto 100% no-repeat;
	}

}
@media screen and (max-width:376px){
	.aware {
		&__title {
			padding-top: 40px;
			font-size: 45px;
		}
	}
}
