.footer {
	background-color: var(--bg-color);

	&__container {
		padding: 104px 15px 144px !important;
	}

	&__logo {
		display: inline-block;
		font-family: "avenir";
		font-weight: bold;
		font-size: 40px;
		color: white;
		margin-bottom: 72px;
		display: inline-block;
	}
	&__logo:hover {
		color: rgb(181, 255, 196);

	}
	&__menu {
	}

	&__item {
		margin-bottom: 66px;
		font-weight: 600;
		font-size: 25px;
	}
	&__item a{
		color: white;
	}
	&__item:last-child {
		margin-bottom: 0px;
	}
}
